*{
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 400;
	box-sizing: border-box;
    letter-spacing: 0em;
	line-height: 26px;
	color: #000;
}
.wrapper{
	overflow-x: hidden;
}
a, a:hover{
	text-decoration: none;
	color: #000;
    letter-spacing: 0em;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Play', sans-serif;
    line-height: initial;
}
ul, li, p, h1, h2, h3, h4, h5, h6{
	list-style: none;
	margin: 0;
	padding: 0;
    letter-spacing: 0em;
}
input, textarea, select{
	outline: none;
	border: none;
}
button{
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.container{
    max-width: 1290px;
	width: 100%;
    margin: 0 auto;
}
.container-fluid{
	max-width: 100%;
	margin: auto;
	width: 100%;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.btn{
	padding: 16px 24px;
	background: green;
	color: #000;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.carousel__slide--visible {
	transform: rotateY(0);
}
input:focus::placeholder {
	color: transparent;
}
@media (max-width: 1366px) {
	.container{
		max-width: 1246px;
	}
	.title{
		font-size: 40px;
	}
}
@media (max-width: 1000px) {
	*{
		font-size: 16px;
		line-height: 20px;
	}	
	.container{
		max-width: 880px;
	}
	.title, .subtitle{
		font-size: 38px;
	}
}
@media (max-width: 768px) {
	*{
		font-size: 14px;
	}
	.container{
		max-width: 728px;
	}
	.title, .subtitle{
		font-size: 32px;
	}
}
@media (max-width: 576px) {
	.container{
		width: 100%;
		padding-right: 40px;
		padding-left: 40px;
		margin-right: auto;
		margin-left: auto;
	}
	.title, .subtitle{
		font-size: 24px;
	}
	.subtitle{
		line-height: 32px;
	}
}
@media (max-width: 360px) {
	.container{
		width: 100%;
		padding-right: 20px;
		padding-left: 20px;
		margin-right: auto;
		margin-left: auto;
	}
	.title{
		font-size: 18px;
	}
	.subtitle{
		font-size: 20px;
	}
	.btn{
		padding: 14px 29px;
	}
}